/* #nature {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/1000/918/497/pride-of-lions-wallpaper-preview.jpg");
} */
/* #music {
  background-image: url("https://w0.peakpx.com/wallpaper/785/620/HD-wallpaper-large-lion-pride-big-cat-lion-art-big-cat-art-lions.jpg");
  background-repeat: 3;
} */
